<header>
    <h1>Data Science Sphere</h1>
    <h4>Curiosity Elevates, Opportunities Arise</h4>
    <nav>
        <ul>
            <li><a href="">Home</a></li> 
            <li><a href="/python">Python</a></li>
            <li><a href="">Mathematics</a></li>
            <li><a href="">Statistics</a></li> 
            <li><a href="">Machine Learning</a></li>
            <li><a href="">Deep Learning</a></li> 
            <li><a href="">Natural Language Processing</a></li>
            <li><a href="">Computer Vision</a></li> 
            <li><a href="">MLOPS</a></li> 
        </ul>
    </nav>
</header>
