{% include "header.html" %}

<html>
    <head>
    <title>Data Science Courses</title>
    <link rel="stylesheet" href="/static/css/math.css">
    </head>
<table>
    <tr>
        <th>Name of the Topics</th>
        <th>Notes</th>
        <th>MCQ</th>
        <th>Programming</th>
    </tr>
    <tr>
        <td>Introduction to Python</td>
        <td><a href="#notes">Study Material</a></td>
        <td><a href="#mcqnmnmnmnmn">MCQ</a></td>
        <td><a href="#programming">Programming</a></td>
    </tr>
    <!-- Add more rows as needed -->
</table>

</html>
